<%- include('partials/_header.ejs') %>

  <main>
    <div class="main-container">
      <h1 class="title-header">Category List</h1>
      <section class="resources-main">
        <% categories.forEach(category=> { %>
          <a href="/resources/category/<%= category.id %>" class="resource-card-link all <%=category.category_name%>">
            <div class="resource-card">
              <div class="card-content">
                <img src="<%= category.category_img %>" alt="thumbnail image" class="thumbnail_img" />
              </div>


            </div>
            <div class="category-title">
              <%= category.category_name %>
            </div>
          </a>
          <% }); %>
      </section>
    </div>
  </main>

