
<%- include('partials/_header.ejs') %>
<h1 class="title-header">My Resources</h1>
  <section class="resources-main my-resources">
    <% uniqueResources.forEach(resource=> { %>
      <div class="view-resource">
        <a href="/resources/<%= resource.id %>" class="res-card-link all <%=resource.category_name%>">
          <div class="resource-card">
            <div class="card-content">
              <img src="<%= resource.thumbnail_img %>" alt="thumbnail image" class="thumbnail_img" />
              <div class="resource-card-title-detail">
                <%= resource.title %>
                <div class="edit-delete-icons">
                  <a href="/resources/<%= resource.id %>/edit"><i class="fa-regular fa-pen-to-square"></i></a>
                  <a href="/resources/<%= resource.id %>/delete"><i class="fa-regular fa-trash-can"></i></a>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    <% }); %>
  </section>





