
<%- include('partials/_header.ejs') %>
      <main>
        <h1 class="title-header">Search results for : <br><br>" <%= query %> "</h1>
        <section class="resources-main">
          <% queryResult.forEach(resource=> { %>
            <a href="/resources/<%= resource.id %>" class="resource-card-link">
                <div class="resource-card">
                  <div class="card-content">
                    <img src="<%= resource.thumbnail_img %>" alt="thumbnail image" class="thumbnail_img" />
                  </div>
                  <div class="resource-card-title">
                    <%= resource.title %>
                 </div>
                </div>
            </a>
          <% }); %>
        </section>
      </main>

