<%- include('partials/_header.ejs') %>

  <main>
    <div class="main-container">
      <h1 class="title-header">All Resources</h1>
      <section class="resources-main">
        <% resources.forEach(resource=> { %>
          <a href="/resources/<%= resource.id %>" class="resource-card-link all <%=resource.category_name%>">
            <div class="resource-card">

              <div class="card-content">
                <img src="<%= resource.thumbnail_img %>" alt="thumbnail image" class="thumbnail_img" />
              </div>

            </div>
            <div class="resource-card-title">
              <%= resource.title %>
            </div>
          </a>
          <% }); %>
      </section>
    </div>
  </main>

